# 05/10/2020

# Python List and Boolean Variables

In [1]:
my_str = 'Rachna'

In [2]:
print(my_str.isalnum())
print(my_str.capitalize())
print(my_str.casefold())
print(my_str.endswith("a"))
print(my_str.find('c'))
print(my_str.swapcase())

True
Rachna
rachna
True
2
rACHNA

In [3]:
True and True

True

In [4]:
True and True and True

True

In [5]:
1 and 2 and 4

4

In [6]:
1 and 2

2

In [7]:
1 or 4 or 5

1

In [8]:
type([])

list

In [9]:
type(())

tuple

In [10]:
type({})

dict

In [11]:
lisst=['a','b',1,3]

In [12]:
lisst.append('taetae')

In [13]:
lisst

['a', 'b', 1, 3, 'taetae']

In [14]:
a=lisst[1:-1]

In [15]:
a

['b', 1, 3]

In [16]:
a.insert(2,"Among Us")

In [17]:
a.extend([6,5])
a

['b', 1, 'Among Us', 3, 6, 5]

In [18]:
a.index('b')

0

# Sets, Dictionary and Tuples

In [19]:
new_set={1,2,3,4,5,1,1,2}
print(type(new_set))
new_set

<class 'set'>

{1, 2, 3, 4, 5}

In [20]:
#Indexing Of set is not possible
new_set.add(6)
new_set

{1, 2, 3, 4, 5, 6}

In [21]:
setA={'Dog','Cat','Horse','Donkey','Monkey'}
setB={'Monkey','Tiger','Lion','Puma','Jaguar'}

In [22]:
setA.difference(setB)

{'Cat', 'Dog', 'Donkey', 'Horse'}

In [23]:
setA.intersection(setB)

{'Monkey'}

In [24]:
setA.issubset(setB)

False

In [25]:
setA.symmetric_difference(setB)

{'Cat', 'Dog', 'Donkey', 'Horse', 'Jaguar', 'Lion', 'Puma', 'Tiger'}

In [26]:
setA.union(setB)

{'Cat', 'Dog', 'Donkey', 'Horse', 'Jaguar', 'Lion', 'Monkey', 'Puma', 'Tiger'}

# ----------------------------------------------------------------------------------------------------------------

In [27]:
dict1= {'A':"Apple,Alpha", 'B':"Bat,Beta", 'C':"Cat,Cot",'D':"Dog,Dream"}

In [28]:
dict1

{'A': 'Apple,Alpha', 'B': 'Bat,Beta', 'C': 'Cat,Cot', 'D': 'Dog,Dream'}

In [29]:
type(dict1)

dict

In [30]:
dict1['A']

'Apple,Alpha'

In [31]:
#Looping through the dictionary keys

for i in dict1:
    print(i)

A
B
C
D

In [32]:
#Looping through the dictionary values

for i in dict1.values():
    print(i)

Apple,Alpha
Bat,Beta
Cat,Cot
Dog,Dream

In [33]:
#Looping  through the keys and values

for i in dict1.items():
    print(i)

('A', 'Apple,Alpha')
('B', 'Bat,Beta')
('C', 'Cat,Cot')
('D', 'Dog,Dream')

In [34]:
dict1['E']='Egg,Elephant'

In [35]:
dict1

{'A': 'Apple,Alpha',
 'B': 'Bat,Beta',
 'C': 'Cat,Cot',
 'D': 'Dog,Dream',
 'E': 'Egg,Elephant'}

In [36]:
A_sub={'Apple':'Fruit','Alpha':'Symbol'}
dictnew={'A':A_sub}
dictnew

{'A': {'Apple': 'Fruit', 'Alpha': 'Symbol'}}

In [37]:
dict1.update(dictnew)

In [39]:
dict1

{'A': {'Apple': 'Fruit', 'Alpha': 'Symbol'},
 'B': 'Bat,Beta',
 'C': 'Cat,Cot',
 'D': 'Dog,Dream',
 'E': 'Egg,Elephant'}

In [40]:
#Accessing Dictionary Items

print(dict1['A'])

{'Apple': 'Fruit', 'Alpha': 'Symbol'}

In [41]:
print(dict1['A']['Alpha'])

Symbol

# -----------------------------------------------------------------------------------------------------------------

In [45]:
tuplenew=('Rachna','Pixie','Prerana')
tuplenew

('Rachna', 'Pixie', 'Prerana')

In [46]:
#Tuple doesnot support item reassignment
#Entire tuple can be replaced with new items

tuplenew=('Tae','Kookie','Jin')
tuplenew

('Tae', 'Kookie', 'Jin')

In [48]:
tuplenew.count('Tae')

1

In [50]:
tuplenew.index('Jin')

2

# -----------------------------------------------------------------------------------------------------------------